@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    color: white;
}
body{
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 114rem;
    background-color: hsl(244, 38%, 16%);
    border-radius: 1rem;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap-reverse;
}
.content-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* content section  */
.insights{
    display: inline;
}
h1#insights{
    display: inline;
    font-size: 3.5rem;
    color: hsl(277, 64%, 61%);
}
.primary-heading{
    font-size: 5.5rem;
}
h2.content{
margin-top: 2.5rem;
max-width: 39rem;
line-height: 2.5rem;
}
h2{
    font-size: 1.5rem;
    opacity: 0.75;
    font-weight:400;

    }

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    margin: 0rem 10rem;
}

.stats{
    margin-top: 8rem;
    margin-left: 1.5rem;
    display: flex;
    width: 40rem;
}

.stats-top{
/* font-size: 3rem; */
text-transform: uppercase;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-right: auto;
}
.stats-h{
font-size: 2.5rem;
}
.stats-c{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0.6rem;
    letter-spacing: 0.1rem;
}

/* image section  */
.image-container{
    background-color: hsl(277, 64%, 61%);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

img{
    display: block;
    /* max-width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    mix-blend-mode: multiply;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity: 0.8;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Classes */
@media screen and (max-width:1140px) {
    *{
        font-size: 62.5%;
    }
    main{
        display: flex;
        min-height: 200vh;
        min-width: 100vw;
    }
    .main-container{
        width: 54rem;
        max-height: 80vh;
    }

    .content-container{
margin-top: 4rem;
margin-bottom: 4rem;
    }
.image-container{
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 1rem;   
}
    img{
        border-bottom-right-radius: 0rem;
        border-top-left-radius: 1rem;
    }
    .stats {
    display: flex;
    flex-direction: column;
    margin-left: 75%;
    /* margin-bottom: 8rem; */
    padding-bottom: 5rem;
    }
    .stats-top{
margin-top: 3rem;
    }
}

@media screen and (max-width:625px) {

img{
border-bottom-right-radius: 0rem;
border-top-left-radius: 1rem;
}
.primary-heading{
    font-size: 4rem;
}
}

    @media screen and (max-width:1097px){
        *{
            font-size: 62.5%;
        }
        main{ 
            min-height: 200vh;
            width: 100vh;
        }
        .content-container{
    margin-top: 4rem;
    margin-bottom: 4rem;
        }
    
        img{
            border-bottom-right-radius: 0rem;
            border-top-left-radius: 1rem;
        }
        .stats {
        display: flex;
        flex-direction: column;
        margin-left: 75%;
        margin-bottom: 2rem;
        }
        .stats-top{
    margin-top: 3rem;
        }
    }

    @media screen and (max-width:625px) {
*{font-size: 58%;
}
h1#insights{
    font-size: 2.5rem;
}
.image-container{
    width: 100%;
    height: 50%;
}
img{
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 1rem;
}
}
